.site-footer {
  background-color:$primary;
  margin-top:15px;
  padding:18px;
  text-align:center;
  color:#ddd;
  position:relative;
  min-height:100px;
  
  .menu {
    margin:10px 0;
    
    li {
      display:inline-block;
      padding:10px;
    }
    
    a {
      color: #999;
      
      &:hover {
        color:$tertiary;
      }
    }
  }
  
  @media (min-width:992px) {
    .logo {
      position:absolute;
      right:0;
      bottom:35px;
    }
  }
}
